<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Tasks</title>
        <style>
  body {
    font-family: Arial, sans-serif;
  }
  main {
    padding: 20px;
  }
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  button:hover {
    background-color: #0062cc;
  }
  /* Style form elements */
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  input[type="text"],
  input[type="date"],
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
  }
  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
    appearance: none;
    ackground: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M27.1 11.3c-0.4-0.4-1-0.4-1.4 0l-8.4 8.4-8.4-8.4c-0.4-0.4-1-0.4-1.4 0s-0.4 1 0 1.4l9.8 9.8c0.2 0.2 0.5 0.3 0.7 0.3s0.5-0.1 0.7-0.3l9.8-9.8c0.4-0.4 0.4-1 0-1.4z" /></svg>') no-repeat;
    background-position: right 10px center;
    background-size: 12px;
  }

  /* Style table */
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
  a {
    color: #007bff;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  a:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  input[type="text"],
  input[type="password"] {
      padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 17%;
        margin-bottom: 15px;
        height: 10px;
    }
.input-field {
width: 100% ;
}
        </style>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'show_my_tasks' %}">My tasks</a>
                        </li>

                        <li>
                            <a href="{% url 'list_projects' %}">My projects</a>
                        </li>

                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>
