{% extends 'base.html' %}

{% block title %}Create a New Project{% endblock %}

{% block content %}
    <main>
        <div>
            <h1>Create a new project</h1>
            <form method="post">
                {% csrf_token %}
                <fieldset>
                    {{ form.as_p }}
                </fieldset>
                <button>Create</button>
            </form>
        </div>
    </main>
{% endblock %}
